.header {
  width: 95dvw;
  height: 5dvh;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 2px 2px 2px $light-gray;
  border-radius: 3rem;
  @extend %flex-row;
  position: fixed;
  z-index: 1;
  background: #fff;

  &__logo {
    cursor: pointer;

    &:hover {
      background: $light-gray;
      border-radius: 50%;
    }
  }

  &__group {
    @extend %flex-row;
    gap: 1rem;

    &__item {
      cursor: pointer;
      @extend %flex-row;
      gap: 0.5rem;
      padding: 0 1rem;
    }

    &__toggle {
      background: $light-gray;
      border-radius: 3rem;
      @extend %flex-row;
      gap: 0.5rem;
      padding: 0.5rem;

      &__circle {
        background: $black;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-content: center;

        p {
          color: #fff;
        }
      }
    }
  }

  .dark {
    background: $black;
    color: #fff;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 1250px) {
  .header {
    &__group {
      &.one {
        display: none;
      }
    }
  }
}
