.home {
  @extend %flex-column;
  align-items: stretch;

  &__main {
    @extend %flex-row;
    align-items: flex-start;
    padding-top: 10dvh; // so the main content isn't hidden behind the header

    &__side {
      width: 5%;
      height: 50dvw;
      display: grid;
      place-content: center;
    }

    &__content {
      @extend %flex-column;
      width: 95%;
      gap: 4rem;
      padding: 3rem;
    }
  }
}

@media (max-width: 1250px) {
  .home {
    &__main {
      &__side {
        display: none;
      }

      &__content {
        width: 100%;
        padding: 2rem;
      }
    }
  }
}
